/* Generales */

:root {
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;

    --primario: #784D3C;
    --gris: #a7a7a7;
    --blanco: #ffffff;
    --negro: #000000;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 1 rem = 10 px */
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
}

/* Globales */

.contenedor {
    width: min(90%, 120rem);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.8rem;
}

img {
    max-width: 100%;
}

/* Header */

.webp .header {
    background-image: url(../img/banner.webp);
}

.no-webp .header {
    background-image: url(../img/banner.jpg);
}

.header {
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.header__texto {
    text-align: center;
    color: var(--blanco);
    margin-top: 5rem;
}

/* Barra de Navegación */


.logo {
    color: var(--blanco);
}

.logo__nombre {
    font-weight: 400;
    line-height: 2.5;
}

.logo__bold {
    font-weight: 700;
}

.navegacion__enlace {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
}

.navegacion__enlace:hover {
    font-weight: bold;
}

@media (min-width: 768px) {
    .header__texto {
        margin-top: 15rem;
    }

    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navegacion {
        display: flex;
        gap: 3rem;
    }
}

/* Main */

@media (min-width: 768px) {
    .contenido-principal {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }
}

.entrada {
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}

.entrada:last-of-type {
    border: none;
    margin-bottom: 0;
}

.boton {
    display: block;
    font-family: var(--fuenteHeading);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    border: none;
}

@media (min-width: 768px) {
    .boton {
        display: inline-block;
    }
}

.boton:hover {
    cursor: pointer;
}

.boton--primario {
    background-color: var(--negro);
}

/* Sidebar */

.boton--secundario {
    background-color: var(--primario);
}

.cursos {
    list-style: none;
}

.widget-curso {
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}

.widget-curso:last-of-type {
    border: none;
    margin-bottom: 0;
}

.widget-curso__label {
    font-family: var(--fuenteHeading);
    font-weight: 700;
    font-size: 2rem;
}

.widget-curso__info {
    font-weight: 400;
}

/* Footer */

.footer {
    background-color: var(--negro);
    padding: 3rem 0;
    margin-top: 4rem;
}

/* Nosotros */

.nostros__texto--config {
    text-align: justify;
}

@media (min-width: 768px) {
    .sobre-nosotros {
        display: flex;
        justify-content: space-between;
    }

    .sobre-nosotros__imagen,
    .sobre-nosotros__texto {
        flex-basis: calc(50% - 1rem);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nostros__texto--config {
        margin: 0.8rem 0;
    }
}

/* Cursos */

.curso {
    border-bottom: 1px solid var(--gris);
    padding: 4rem 0;
}

.curso:last-of-type {
    border: none;
    margin-bottom: 0;
}

.curso__label {
    font-family: var(--fuenteHeading);
    font-weight: 700;
}

.curso__info {
    font-weight: 400;
}

.curso__label,
.curso__info {
    font-size: 2rem;
}

@media (min-width: 768px) {

    .curso {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
    }

    .curso__imagen,
    .curso__informacion {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .curso__label,
    .curso__informacion h4 {
        margin: 0.8rem 0;
    }
}

/* Contacto */

.contacto-bg {
    background-image: url(../img/contacto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.formulario-bg {
    background-color: rgba(255, 255, 255, 0.7);
}

.contacto-bg,
.formulario-bg {
    padding: 2rem;
}

.campo {
    margin-bottom: 1rem;
}

.campo__label {
    flex: 0 0 10rem;
}

.campo__field {
    width: 100%;
    border: 1px solid var(--gris);
}

.campo__label--textarea {
    height: 20rem;
}

.campo__field {
    padding: 1.5rem;
    display: block;
}

.boton {
    width: 100%;
}

@media (min-width: 768px) {
    .campo {
        display: flex;
    }

    .campo__label {
        padding: 1.5rem;
    }

    .contacto-bg,
    .formulario-bg {
        padding: 5rem;
    }

    .campo__enviar {
        text-align: right;
    }

    .boton {
        width: auto;
    }
}

/* Utilidades */

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.centrar-texto {
    text-align: center;
}

.justificar-texto {
    text-align: justify;
}